@import "tailwindcss";

@theme {
  --color-brand-bg: #f5f5f7;
  --color-brand-primary: #1c4059;
  --color-brand-accent: #1c4059;

  --font-sans: 'Montserrat', system-ui, -apple-system, sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-bg);
  color: var(--color-brand-primary);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}